<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://pingendo.github.io/templates/blank/theme.css" type="text/css">
    <style>
        .corpo_tabela {
            height: 50%;
            overflow-y: auto
        }
    </style>
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <nav class="navbar navbar-expand-md navbar-light bg-faded">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="py-5" ng-app="myApp" ng-controller="myCtrl">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <form class="" id="myForm" name="myForm" novalidate>
                        <input type="hidden" class="form-control form-control-sm" ng-model="contato.id">
                        <div class="form-group" ng-class="{ 'has-error' : myForm.nome.$dirty && myForm.nome.$invalid }">
                            <label>Nome</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Entre com nome" name="nome" ng-model="contato.nome" required minlength="3"
                                   maxlength="60">
                            <span style="color:red" ng-show="myForm.nome.$dirty && myForm.nome.$invalid" class="help-block">
                                <span ng-show="myForm.nome.$error.required">Nome é requerido.</span>
                                <span ng-show="myForm.nome.$error.maxlength">Nome com no máximo 60 caracteres.</span>
                                <span ng-show="myForm.nome.$error.minlength">Nome com no mínimo 03 caracteres.</span>
                            </span>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : myForm.telefone.$dirty && myForm.telefone.$invalid }">
                            <label>Telefone<br></label>
                            <input type="tel" class="form-control form-control-sm" placeholder="(00)90000-0000" pattern="\([0-9]{2}\)[2-9](([0-9]{3})|([0-9]{4}))-[0-9]{4}" name="telefone" ng-model="contato.telefone">
                            <span style="color:red" ng-show="myForm.telefone.$dirty && myForm.telefone.$invalid" class="help-block">
                                <span ng-show="myForm.telefone.$error.pattern">Número de telefone inválido.</span>
                            </span>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : myForm.email.$dirty && myForm.email.$invalid }">
                            <label>Email</label>
                            <input type="email" class="form-control form-control-sm" placeholder="Digite email" name="email" ng-model="contato.email">
                            <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid" class="help-block">
                                <span ng-show="myForm.email.$error.email">Endereço de email inválido.</span>
                            </span>
                        </div>
                        <button type="button" ng-click="enviar(contato)" class="btn btn-primary btn-sm btn-block"
                                ng-disabled="myForm.nome.$dirty && myForm.nome.$invalid ||
                                             myForm.telefone.$dirty && myForm.telefone.$invalid ||
                                             myForm.email.$dirty && myForm.email.$invalid">Enviar
              <br> </button>
                        <button type="button" ng-click="reset()" class="btn btn-primary btn-sm btn-block">Reset
              <br> </button>
                    </form>
                    <div id="alert"></div>
                </div>
                <div class="col-md-8 corpo_tabela">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome</th>
                                <th>Telefone</th>
                                <th>Email</th>
                                <th>Comando</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in contatos" id="{{'linha'+ (x.id)}}">
                                <td ng-bind="x.id"></td>
                                <td ng-bind="x.nome"></td>
                                <td ng-bind="x.telefone"></td>
                                <td ng-bind="x.email"></td>
                                <td>
                                    <button ng-click="remover(x.id)" type="button" class="btn btn-danger btn-sm">
                                        Remover
                                    </button>
                                    <button ng-click="editar(x.id)" type="button" class="btn btn-info btn-sm">
                                        Editar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="static/js/myapp.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
</body>

</html>